/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

input {
	margin: 2%;
}

.addBtn {
	margin: 2%;
	witdth: 20px;
}
h1 {
	font-weight: bold;
	font-size: 2em;
}
.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 50%;
	margin-left: auto;
    margin-right: auto;
	word-wrap: break-word;
}
th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.addUserTile, .searchUserTile {
    display: block;
    width: 100%;
	height: 100px;
	background-color: #91C8D1;
}

